

* {
	box-sizing: border-box;
}

:root {
	--accent-color-hue: 236;
	--accent-color-saturation: 100%;
	--disabled-color: #cfcfcf;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html,body,#root {
	height: 100%;
	background-color: rgb(200, 203, 199);
	
}

a {
	color: black;
	text-decoration: none;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
